.__turn {
    background-image: url(../img/background/playBackground.jpg);
    background-position: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.__turn img {
    width: 60vw;
    position: absolute;
    top: 2vh;
}

.__turn__card {
    height: 80vh;
    width: 75vw;
    background-color: white;
    border: solid #3498DB;
    border-radius: 20px;
    border-width: 10px;
}

.__turn__card__Link {
    height: 100%;
}

.__turn__card label {
    font-family: 'Akaya Telivigala', sans-serif;
    font-size: 60px;
    font-weight: 700;
    background: #CA4246;
    background-color: #CA4246;
    background-size: 57%;
    background-repeat: repeat;
    background-clip: unset;
    background: conic-gradient(
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-animation-rev 0.5s ease forwards;
    cursor: pointer;
}

.__turn__card label :hover {
    animation: rainbow-text-animation 0.5s ease forwards;
}

@keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }