.__game {
    background-image: url(../img/background/playBackground.jpg);
    background-position: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.__game__Char {
    height: 30vh;
    /* background-color: aqua; */
}

.__game__Char img {
    width: 30vw;
}

.__game__Char__container {
    height: 100%;
}

.__game__roll {
    height: 70vh;
}

.__game__roll h1 {
    font-family: 'Akaya Telivigala', sans-serif;
}

#imgContainer {
    width: 50vw;
}